@import '../../../../assets/sass/variaveis';

.material-icons {
    color: rgba(0,0,0,.54);
    margin-right: 16px;
    vertical-align: middle;
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
}

h1 {
	background: linear-gradient(to right, #005daa 0%, #009fe0 100%);
    color: #fff;
    margin: -24px -24px 0px;
    padding: 10px 20px;
    font-family: $font-titulo;
}
.mat-button {
    border: 1px solid #eee;
    font-family: $font-titulo;
}
.mat-dialog-actions {
    text-align: center;
    display: block;
}

div {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	padding: 1rem;
}