@import '../../../../assets/sass/variaveis';

button {
	color: $cor-principal;
	border: 1px solid;
}
.anterior {
	padding-left: 7px;
}
.proximo {
	float: right;
	padding-right: 7px;
	.mat-icon{
	    float: right;
    	margin-top: 6px;
	}
}