<mat-form-field *ngIf="!readonly">
	<input
		type="text" matInput  placeholder="{{label}}"
		[matAutocomplete]="autoComplete"
		[required] = "ehObrigatorio"
		[formControl]="controle"
		[readonly]="readonly"
		(focusout)="evento.focusout($event)"
		(focus)="evento.focus($event)"
		#input
	>
	<mat-error >{{mostrarError(controle)}}</mat-error>
	<!-- Necessário tirar pois esta dando BUG na versao 43 do FIREFOX!
	<button mat-button *ngIf="controle.value" matSuffix mat-icon-button  (click)="evento.limpar($event)">
					<mat-icon>close</mat-icon>
	</button>
	-->
	<mat-autocomplete
		#autoComplete="matAutocomplete" [displayWith]="display"
		(optionSelected)= "evento.itemSelecionado($event)"
	>
		<mat-option
		*ngFor="let opcao of opcoes | async" [value]="opcao"
		>
		{{ display(opcao) }}
		</mat-option>
	</mat-autocomplete>
</mat-form-field>

<mat-form-field *ngIf="readonly">
	<input
		#input
		type="text" matInput  placeholder="{{label}}"
		value="{{valorQuandoReadyOnly()}}"
		[readonly]="true"
	>
</mat-form-field>




