@import '../../../assets/sass/variaveis';
table {
	width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    
    thead {
	    border-bottom: 1px solid #d0d0d0;
	}

    th, td {
	    border: none;
	    padding: 15px 5px;
	    display: table-cell;
	    text-align: left;
	    vertical-align: middle;
	    border-radius: 2px;
	}

	tbody {
		tr {
		    border-bottom: 1px solid #d0d0d0;
		    &:hover {
		    	background: rgba(0,0,0,0.1) !important;
		    }
		}
	}
}

.responsive-card-table {

  @media screen and (max-width: $responsive-card-table-stack-point) {
    thead tr {
      position: absolute;
      top: -9999em;
      left: -9999em;
    }

    tr {
      border: $responsive-card-table-border;
      margin-bottom: 1rem;
      display: block;
    }

    td {
      border: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-bottom: $responsive-card-table-border;
      padding-left: 50%;
      position: relative;

      &:before {
        content: attr(title);
        display: inline-block;
        font-weight: bold;
        line-height: 1.5;
        margin-left: -100%;
        width: 100%;
        position: relative;
        z-index: 1;
      }

      &:after {
        content: '';
        position: absolute;
        background: $responsive-card-table-label-bg;
        width: 45%;
        height: 95%;
        left: 1px;
        top: 1px;
        z-index: 0;
      }
    }
  }
}