<mdias-container 
  icone="search" 
	[nomeDaPagina]="'Sacffolding MDB - Listagem'" 
	[valorBotaoNovo]="util.traduzir('mdbComponentes.botao.novo')" 
	rotaBotaoNovo="techdays/formulario"
>
  <mdias-filtro
    (pesquisar) = "evento.pesquisar()"
    (limpar) = "evento.limpar()"
  >
    <form class="form-horizontal" [formGroup]="formulario" (submit)="false">
      <mdias-col l="6">
        <mat-form-field>
          <input matInput [formControl]="formulario.get('campo1')"  placeholder="Campo 1">
          <mat-error >{{util.error(formulario.get('campo2'))}}</mat-error>
        </mat-form-field>
      </mdias-col>
      <mdias-col l="6">
        <mat-form-field>
            <input matInput [formControl]="formulario.get('campo2')" placeholder="Campo 2" >
            <mat-error >{{util.error(formulario.get('campo2'))}}</mat-error>
        </mat-form-field>
      </mdias-col>
    </form>
  </mdias-filtro>
  <mdias-tabela
      [hidden] = "lista.length > 0 ? false : true"
      [lista] = "lista"
    >
      <mdias-coluna
        [valorCabecalho] = "'Id'"
        [ordenavel] = "true"
        atributo = "id"
      ></mdias-coluna>
      <mdias-coluna
        [valorCabecalho] = "'Descricao'"
        [ordenavel] = "true"
        atributo = "descricao"
      ></mdias-coluna>
      
      <mdias-coluna
      [valorCabecalho] = "util.traduzir('mdbComponentes.label.acoes')"
      atributo = "acoes"
      >
        <ng-template let-indice="indice" let-item="item">
          <mdias-botao-menu>
              <mdias-botao-menu-item (clique)="evento.editar(item.id)" icone="create" [valor]="util.traduzir('mdbComponentes.botao.editar')" ></mdias-botao-menu-item>
              <mdias-botao-menu-item (clique)="evento.visualizar(item.id)" icone="remove_red_eye" [valor]="util.traduzir('mdbComponentes.botao.visualizar')" ></mdias-botao-menu-item>
              <mdias-botao-menu-item confirmacao=true [tituloDialog]='Quer deletar?' (clique)="evento.deletar(item.id)" icone="delete_forever" [valor]="'Deletar'" ></mdias-botao-menu-item>
          </mdias-botao-menu>  
        </ng-template>
      </mdias-coluna>
  </mdias-tabela>
</mdias-container>

