<mdias-col s="12" m="12" l="12">
	<mat-table [dataSource]="getLista()" matSort>
		<ng-container *ngFor="let coluna of colunas" matColumnDef="{{coluna.atributo}}">
			<div *ngIf="coluna.sorteada">
				<mat-header-cell  *matHeaderCellDef mat-sort-header> {{coluna.valorCabecalho}} </mat-header-cell>
			</div>
			<div *ngIf="!coluna.sorteada">
				<mat-header-cell *matHeaderCellDef> {{coluna.valorCabecalho}} </mat-header-cell>
			</div>

			<div *ngIf="coluna.template">
				<mat-cell *matCellDef="let item; let indice = index">
					<div [ngTemplateOutlet]="coluna.template" [ngTemplateOutletContext]="{item: item, indice:indice}"> </div>
				</mat-cell>
			</div>
			<div *ngIf="!coluna.template">
				<mat-cell *matCellDef="let item"> {{buscarValor(item,coluna.atributo)}} </mat-cell>
			</div>
		</ng-container>
		<mat-header-row *matHeaderRowDef="listaCabecalho()"></mat-header-row>
		<mat-row *matRowDef="let row; columns: listaCabecalho();"></mat-row>
	</mat-table>
	<mat-paginator
		#paginador *ngIf="ehPaginado" [length]="totalDeItens"
		[pageSize]="itensPorPagina"
		[pageIndex]="_numeroPagina"
		(page)="alterarPagina($event)">
  </mat-paginator>
</mdias-col>
