.mat-column-select {
    overflow: initial;

}

.cabecalho-tabela {
  font-size: 1rem !important;
  font-weight: bold;
  font-family: "Fjalla One", sans-serif;
  .col {
    font-size: 1rem !important;
    font-weight: bold;
    font-family: "Fjalla One", sans-serif;
  } 
}    

.cabecalho-tabela-check{
  font-size: 1rem !important;
  font-weight: bold;
  font-family: "Fjalla One", sans-serif;
  margin: 10px;
  
}

