@import '../../../assets/sass/mdias-layout';

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem 1rem;
  height: 80px;
  background: linear-gradient(to right, $cor-principal 0%, $cor-principal-clara 100%);
  text-align: right;
  color: #fff;
  line-height: 1rem;
  box-shadow: 0 -3px 5px 0 rgba(0, 0, 0, 0.26);
  .logo {
  	float: left;
  	height: 55px;
  }
  p{
      line-height: .8rem;
      font-size: 0.8rem;
      margin: 0.5rem 0px;
      font-family: $font-titulo;
  }
}