@import '../../../assets/sass/variaveis';

.mdias-botao {
    line-height: 36px;
    min-width: 64px;
    padding: 0 16px;
    margin: 0;
    height: 36px;
    font-size: 14px;
    border-radius: 2px;
    border: none;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    font-family: $font-principal;
    font-weight: 400;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;

	background: $cor-principal-clara;
    color: #fff;

    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	&:hover {
        box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
    }
    &:active {
        box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    }
}

.mdias-icone {
    border-radius: 50%;
    font-size: 24px;
    height: 56px;
    margin: auto;
    width: 56px;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
    position: relative;
    line-height: normal;
    i {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-12px,-12px);
        transform: translate(-12px,-12px);
        line-height: 24px;
        width: 24px;
    }
}
.mdias-mini {
    width: 40px ;
    height: 40px;
    min-width: 40px;
}

.mdias-btn-confirmacao {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 88px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 2px;
    &:hover {
        background: rgba(0,0,0,0.1);
    }
}