@import '../../../assets/sass/variaveis';

.mat-raised-button {
	background: $cor-principal-clara;
	color: #fff;
    font-family: $font-titulo;
    font-size: 1rem;
}

.btn-vermelho {
	background: $vermelho;
}
.btn-amarelo  {
	background: $amarelo;
	color: #000;
}
.btn-verde {
	background: $verde;
}
.btn-link {
	background: transparent;
	color: $cor-principal;
	box-shadow: none;
}