<mdias-container 
	icone="add"
	[nomeDaPagina]="'Sacffolding MDB - Formulário'" 
>
	<mdias-formulario  
	[tituloDialogCancelar] = "!ehVisualizacao ? util.traduzir('mdbComponentes.operacao.mensagemGeral'):''"
	[mensagemDialogCancelar] = "!ehVisualizacao ? util.traduzir('mdbComponentes.operacao.mensagemGeral') : ''"
	[tituloDialogSalvar] = "util.traduzir('mdbComponentes.operacao.salvar')"
	[mensagemDialogSalvar] = "util.traduzir('mdbComponentes.operacao.mensagemGeral')"
	[mostrarSalvar] = "!ehVisualizacao"
	[mostrarLimpar] = "!ehVisualizacao"
	(salvar) = "evento.salvar()"
	(cancelar) = "evento.cancelar()"
	(limpar) = "evento.limpar()" 
	>
		<form class="form-horizontal" [formGroup]="formulario" (submit)="false">
			<mdias-col l="6">
				<mdias-autocomplete
					[controle] = "formulario.get('autoComplete')"
					[atributoDisplay] = "'valor'"
					[ehObrigatorio] = true
					[label] ="'Auto complete'"
					[lista] = "listaAutoComplete"
					(itemSelecionado) = "evento.itemSelecionado($event)"
				>
				</mdias-autocomplete>
			</mdias-col>
			<mdias-col l="6">
				<mat-form-field>
					<input matInput [formControl]="formulario.get('campo1')"  placeholder="Campo 1">
					<mat-error >{{util.error(formulario.get('campo1'))}}</mat-error>
				</mat-form-field>
			</mdias-col>
		</form>
	</mdias-formulario>
</mdias-container>
