<mdias-container nomeDaPagina="COMPONENTES / BOTÕES" icone="settings_input_composite">
	<mdias-titulo valor="mdias-botao"></mdias-titulo>
	<mdias-col l="12" m="12">
		<mdias-botao valor="PESQUISAR" classe="btn-vermelho" (clique)="pesquisar()"></mdias-botao>
	</mdias-col>
	<mdias-col l="12" m="12">
		<mat-tab-group>
			<mat-tab label="HTML">
				<code class="tab-content">
					&lt;mdias-botao valor="PESQUISAR"  (clique)="pesquisar()"&gt;&lt;/mdias-botao&gt;
				</code>
			</mat-tab>
			<mat-tab label="TS">
				<code class="tab-content">  
					pesquisar()
				    	this.mensagensService.addInformacao("EXEMPLO - Pesquisando")
				</code>
			</mat-tab>
		</mat-tab-group>
	</mdias-col>
	<mdias-titulo valor="mdias-botao-icone"></mdias-titulo>
	<mdias-col l="12" m="12">
		<mdias-botao-icone icone="search" class="bt-vermelho" (clique)="pesquisar()"></mdias-botao-icone>
	</mdias-col>
	<mdias-col l="12" m="12">
		<mat-tab-group>
			<mat-tab label="HTML">
				<code class="tab-content">
					&lt;mdias-botao-icone icone="search" mine="false" (clique)="pesquisar()"&gt;&lt;/mdias-botao-icone&gt;
				</code>
			</mat-tab>
			<mat-tab label="TS">
				<code class="tab-content">  
					pesquisar()
				    	this.mensagensService.addInformacao("EXEMPLO - Pesquisando")
				</code>
			</mat-tab>
		</mat-tab-group>
	</mdias-col>
</mdias-container>