<mdias-container nomeDaPagina="Início" icone="home" valorBotaoNovo="novo" rotaBotaoNovo="outraPagina">
  <mdias-tabela
    [totalDeItens]="1"
    [ehPaginado]="true"
    [itensPorPagina]="4"
    [ehLazy]="false"
    [lista] = "listaTabela" 
    (selecionarUm)= "testeUm()"
    (selecionarTodos) = "testeTodos()"
  >
    <mdias-coluna
    [valorCabecalho] = "'Ativo'"
    [ehCheckbox] = "true"
    [atributo] = "'selecionado'" 
    >
    </mdias-coluna>

    <mdias-coluna
    [valorCabecalho] = "'Nome'"
    [ordenavel] = "true"
    [atributo] = "'nome'"
    >
    </mdias-coluna>

    <mdias-coluna
    [valorCabecalho] = "'Criado Por'"
    [ordenavel] = "true"
    [atributo] = "'criadoPor'"
    >
    </mdias-coluna>
    
    <mdias-coluna
    [valorCabecalho] = "'Ações'"
    [atributo] = "'acoes'"
    >
    <ng-template let-item="item">
      <mdias-botao-menu>
          <mdias-botao-menu-item (clique)="editar(item)" icone="create" [valor]="'Editar'" ></mdias-botao-menu-item>
      </mdias-botao-menu>  
    </ng-template>
    </mdias-coluna>
  </mdias-tabela>
</mdias-container>












